/*@import url(base.css);*/
@import url(forms.css);
@import url(tables.css);
@import url(links.css);

* {
text-align : left;
font-family : arial;
font-size : 11px;
margin : 0;
padding : 0;
}
body, html, ul, ol, h1, h2, h3, form, p, fieldset, input, img, li {
padding : 0;
margin : 0;
border : 0;
}
ul, ol {
list-style : none;
}
h1, h2, h3 {
font-weight : normal;
margin : 0;
}
a {
text-decoration : none;
font-weight : normal;
color : #2f2f2f;
}
fieldset, img {
border : 0;
}
h1 {
font-weight : bold;
font-size : 16px;
margin : 15px 0;
color : #fff;
}
.clear {
clear : both;
}

body {
background:#FFEBDF;
}

hr {
border:1px solid #EEE ;
height:1px;
background:#EEE;
}

hr.hr2 {
border:1px solid #BFBFBF ;
height:1px;
background:#BFBFBF;
margin:10px 0;
}

#content {
width:1000px;
position:absolute;
top:50%;
left:50%;
margin-left:-500px;
margin-top:-350px;
border:1px solid #132A56;
height:700px;
background:#FFF;
}

#txtcontent, #txtcontent2 {
position:absolute;
}

#txtcontent.start {
background : url(img/start.jpg) no-repeat center center #EEE;
left:5px;
top:91px;
width:990px;
z-index:10;
height:550px;
}

#txtcontent.normal {
width:730px;
height:530px;
z-index:10;
top:105px;
left:240px;
overflow:auto;
padding-right:10px;
}

#txtcontent.angebot {
width:535px;
height:530px;
z-index:10;
top:105px;
left:240px;
overflow:auto;
padding-right:10px;
}

#txtcontent2.normal {
width:200px;
height:530px;
z-index:10;
top:105px;
right:5px;
overflow:auto;

}

#txtcontent2_wrapper {
padding:10px;
}

#txtcontent2 h2 {
font-weight:bold;
font-size:12px;
margin: 0 0 10px 0;
}

#banner_top {
width:990px;
height:95px;
position:absolute;
top:5px;
left:5px;
background : url(img/bg_bannertop.gif) repeat-x center center;
}

#logo {
width:200px;
height:52px;
position:absolute;
top:17px;
right:20px;
background : url(img/logo.gif) no-repeat center center;
}

#status{
width:200px;
height:52px;
position:absolute;
top:20px;
left:20px;
font-size:16px;
font-weight:bold;
}

#navigation {
width:200px;
position:absolute;
top:105px;
left:20px;
z-index:11;
background:#FFF;
padding:2px;
border:1px solid #AFAFAF;
}

#navigation li span{
display:block;
height:41px;
line-height:41px;
padding-left:10px;
font-weight:bold;
font-size:14px;
background: url(img/bg_navtitle.gif) repeat-x center center;
color:#FFF;
margin:0 0 10px 0;
}

#navigation li a{
display:block;
height:22px;
line-height:22px;
padding: 0 0 0 15px;
margin:2px 0 0 0;

}

#navigation li a.nav1{
background: url(img/bg_nav1.gif) repeat-x center center;
color:#000;
font-weight:bold;
border-top:1px solid #EEE;
}

#navigation li a.nav1:hover{
background: url(img/bg_nav1_hover.gif) repeat-x center center;
color:#000;
font-weight:bold;
}


#navigation li a.nav2{
background: url(img/bg_nav2.gif) repeat-x center center;
color:#000;
font-weight:bold;
}

#navigation li a.nav2:hover{
background: url(img/bg_nav1_hover.gif) repeat-x center center;
color:#000;
font-weight:bold;
}


#footer {
background:#EF5A00;
width:990px;
height:50px;
position:absolute;
top:645px;
left:5px;
}

.help {
display:none;
background:url(img/icon_help.gif) no-repeat 10px center;
width:790px;
height:50px;
position:absolute;
top:645px;
left:5px;
}

.help span {
display:block;
margin-left:60px;
line-height:50px;
font-weight:bold;
font-size:14px;
color:#FFF;
}

/*Angebot Flugdaten Übersicht Rechts*/

.loader {
display:none;
width:128px;
margin:5px auto 0 auto;
height:35px;
color:#FFF;
text-align:center;
background:url(img/ajax-loader.gif) no-repeat center bottom;
}

.flugdaten_table {
width:100%;
margin-bottom:10px;
}
.flugdaten_table td.airport {
padding:0 5px;
background:#FFEDDF;
border:1px solid #CCC;
vertical-align:center;
height:35px;
}

.flugdaten_table td.distance {
padding:3px 0;
}

.flugdaten_table td.distancesum {
padding:0 5px;
background:#FFEDDF;
border:1px solid #CCC;
vertical-align:center;
height:20px;
font-weight:bold;
}

.flugdaten_table td.img {
width:30px;

}

.flugdaten_table td.abflug {
background:url(img/icon_airportstart.gif) no-repeat center center;
}

.flugdaten_table td.ankunft {
background:url(img/icon_airportziel.gif) no-repeat center center;
}

.flugdaten_table td.zwischenstop {
background:url(img/icon_airportzwischenstop.gif) no-repeat center center;
}

.flugdaten_table td.title_top {
font-size:12px;
font-weight:bold;
color:#EF5A00;
vertical-align:top;
height:20px;
}

.flugdaten_table td.title {
font-size:12px;
font-weight:bold;
color:#EF5A00;
vertical-align:center;
height:35px;
}

.flugkosten_table {
width:100%;
margin-bottom:10px;
border-collapse: collapse;
border-spacing: 0;
}

.flugkosten_table td.title{
font-size:12px;
font-weight:bold;
color:#EF5A00;
vertical-align:top;
height:20px;
}

.flugkosten_table td.kostentyp, .flugkosten_table td.kosten{
padding: 5px 0;
border-bottom:1px solid #CCC;
}

.flugkosten_table td.kosten{
text-align:right;
}


  /*------------------------------------------------------------------------------------------------------*/

  /**
   * (en) Fixes IE5.x and IE6 overflow behavior of textarea and input elements elements
   * (de) Korrigiert das fehlerhafte overflow-Verhalten von textarea und input-Elementen
   *
   * @workaround
   * @affected   IE 5.x/Win, IE6
   * @css-for    IE 5.x/Win, IE6
   * @valid      no
   */

  * html textarea { overflow:scroll; overflow-x: hidden; }
  * html input { overflow: hidden; }


  /**
   * Form related bugfixes
   *
   * @bugfix
   * @affected   IE 5.x/Win, IE6, IE7
   * @css-for    IE 5.x/Win, IE6, IE7
   * @valid      no
   */
  fieldset, legend { position:relative; }
  /* global fixes for YAML's form construction set */ 
  form.yform, 
  form.yform div,
  form.yform div * { zoom:1; }


